.A4{
	width:595px;
	float: left; 
}

.header-wrap{
	/* width: 100%; */
	float: left;
}
.img-wrap{
	width: 100px;
	
	float: left;
	margin-right: 180px;
}
.content-1{
	float: left;
	width: 280px;
	margin-left: 13%;
}

.content-2{
	float: left;
	width: 280px;
	margin-left: 51%;
}

.cust-agree{
	font-size:20px; font-size: 20px; margin-left: -50px;
}
.cust-let{
	margin-left: -20px; margin-top: -14px;
}

.cust-caf{
	font-size: 12px; margin-top: -11px; margin-left: 29px;
}
.cust-algin{
	text-align: center;
    color: white;
}
.back-ground-black{
	background-color: #232020;
}
.border-rad{
 border-radius: 3px;
}
.cust-head{
	float: left; width: 100%;
}
.margin-right10{
	margin-right: 8px;
	   font-size: 11px;
   }
   
   .check-box{
	   font-size: 12px; 
	   margin-left: 3px;
   }

   .floatleft{
	   float: left;
	   margin-top: 4px;
   }
   .float-width{
	float: left; 
	width: 100%;
   }
/* .txt-size{
	font-size: 12px!important;
} */
.bottom-space{
	margin-top: 10px!important;
}
.input-space{
	margin-top: 9px!important;
}
.bet-inp-space{
	margin-left: 4px;
}
.img-pad{
	/* margin-left: 12px; */
    margin-top: 8px;
}

.input-hgt{
	height: 22px;
}
.float-left{
	float: left;
}
.txt-mid{
	text-align: center;
}

.leftside{
	width: 111px;
}
.text-align-left{
	text-align: left!important;
}
.text-align-right{
	text-align: right!important;
}
.input-width{
	width: 241px;
}
.trRow
{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}
.trRow td{
	float: left;
	margin-right: 10px;
}
.trRow td input{
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	height: 22px;
}
.trRow td p{
	float: left;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 11px;
}
.ulRow
{
	float: left;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
}
.ulRow li{
	float: left;
	width: 165px;
	margin-right: 10px;
}
.ulRow li input{
	width: 100%;
	float: left;
	margin: 0;
	height: 22px;
}
.ulRow li p{
	/* float: left; */
	width: 100%;
	/* margin: 0; */
	text-align: center;
	font-size: 11px
}
.box{
	width:416px;
	background-color:rgb(245, 245, 245);
	border: 1px solid darkgray;
}
.input-box{
	width: 100px;
	height: 22px;
	border: 1px solid darkgray;
}
.ulRow .asd-box{
	width: 514px;
	height: 22px;
	border: 1px solid darkgray;
}
.ulRow .email-box{
	width: 282px;
	height: 22px;
	border: 1px solid darkgray;
}
.ulRow .birth-box{
	width: 80px;
	height: 22px;
	border: 1px solid darkgray;
}
.ulRow .nationality-box{
	width: 80px;
	height: 22px;
	border: 1px solid darkgray;
}
.ulRow .passport-box{
	width: 96px;
	height: 22px;
	border: 1px solid darkgray;
}
.ulRow .passport-valid-box{
	width: 70px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .father-box{
	width: 99%;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .cust-box{
	width: 241px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .address-box{
	width: 438px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .mobile-box{
	width: 173px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .pan-box{
	width: 438px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .reg-box{
	width: 425px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .instal-box{
	width: 693px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .city-box{
	width: 210px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .landmark-box{
	width: 165px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .pincode-box{
	width: 100px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .contact-box{
	width: 216px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .plan-box{
	width: 173px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .addon-box{
	width: 185px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .validity-box{
	width: 120px;
	height: 22px;
	border: 1px solid darkgray;
	float: left;
}
.trRow .charges-box{
	width: 434px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .months-box{
	width: 173px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .security-box{
	width: 200px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .otherCharges-box{
	width: 140px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .total-box{
	width: 159px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .receipt-box{
	width: 130px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .date-box{
	width: 100px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .bank-box{
	width: 80px;
	height: 22px;
	border: 1px solid darkgray;
}
.trRow .transaction-box{
	width: 60px;
	height: 22px;
	border: 1px solid darkgray;
}
.ration-card-box{
	width: 160px;
	height: 22px;
	border: 1px solid darkgray;
}
.applicant-box{
	width: 676px;
	height: 22px;
	border: 1px solid darkgray;
}
.amount-box{
	width: 241px;
	height: 22px;
	border: 1px solid darkgray; 
}
.particular-box{
	width: 297px;
	height: 22px;
	border: 1px solid darkgray; 
}
.yes-box{
	width: 100px;
	height: 22px;
	border: 1px solid darkgray; 
}
.field-box{
	width: 138px;
	height: 22px;
	border: 1px solid darkgray; 
}
.reason-box{
	width: 256px;
	height: 22px;
	border: 1px solid darkgray; 
}
.detail-box{
	width: 180px;
	height: 22px;
	border: 1px solid darkgray; 
}
.verification-box{
	width: 180px;
	height: 22px;
	border: 1px solid darkgray; 
}
.verified-date-box{
	width: 148px;
	height: 22px;
	border: 1px solid darkgray; 
}
.trRow .code-box{
	width: 150px;
	height: 22px;
	border: 1px solid darkgray; 
}
.trRow .srCode-box{
	width: 110px;
	height: 22px;
	border: 1px solid darkgray; 
}
.auth-box{
	width: 180px;
	height: 22px;
	border: 1px solid darkgray; 
}
.margin10px{
	margin-top: -10px;
}
.buttom3px{
	margin-bottom: 3px;
}
