html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 130%;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
*{box-sizing: border-box;}
a{text-decoration: none;color: #3D4DAC;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table, tbody, tr, td
        {
            float: left;
        }
b{font-weight: bold;}
h5
        {
            font-size: 14px;
            float: left;
            margin: 3px 0;
        }
h4
		{
			font-size: 16px;
			float: left;
		}
h3
		{
            font-size: 18px;
            float: left;
		}
h2
		{
            font-size: 20px;
            float: left;
		}
h1
		{
            font-size: 22px;
            float: left;
        }
.greyButton
        {
            float: left;
            color: #fff;
            padding: 3px 6px 1px 6px;
            background-color: #333;
            margin: 0 5px;
            line-height: 12px;
            font-size: 10px;
        }
.fullWrap
        {
            float: left;
            width: 100%;
        }
.pullRight
        {
            float: right;
        }
.halfWrap
        {
            float: left;
            width: 50%;
        } 
.center
        {
            text-align: center;
        } 
.padding10
        {
            padding:10px;
        } 
.padding2
{
    padding:2px;
} 
.headerLeftWrap
        {
            float: left;
            width: 300px;
        }
.headerLeftWrap p
        {
            font-size: 10px;
        }
.midWrap
        {
            /* actually it 595px */
            width: 593px;
            margin: auto;
        }
.logoWrap
        {
            margin: auto;
            width: 80px;
            height: 30px;
            background-color: #ccc;
        }
.headerLeftWrap h5, .headerLeftWrap p
        {
            float: left;
            width: 100%;
        }
.srfWrap
        {
            float: left;
            width: 100%;
            border: 1px solid #000; 
            margin-top: 5px;
        }
.srfWrap span
        {
            float: left;
            padding: 5px 15px;
            background-color: #000;
            color: #fff;
            line-height: 9px;
        }
.headerRightWrap
        {
            float: right;
            width: 100px;
        }
.passportPhoto
        {
            float: left;
            width: 80px;
            height: 100px;
            margin: 0 10px;
            border: 1px solid #000;
        }
.passportTopText
        {
            float: left;
            width: 100%;
            text-align: center;
        }
.rowBorder
        {
            border: 1px solid #000;
            border-bottom: none;
        }
.borderBottom
        {
            border-bottom: 1px solid #000;
        }    
.formWrap tr:last-child
        {
            border-bottom: 1px solid #000;
        }    
.fillBox
        {
            float: left;
            width: 100%;
        }
.fillBox li 
        {
            float: left;
            width: 15px;
            text-align: center;
            height: 16px;
            border-left: 1px solid #000;
            padding: 3px 0;
        } 
/* .fillBox li:last-child
        {
            border-right: 1px solid #000;
        } */
.nameCol
        {
            float: left;
            width: 170px;
            line-height: 12px;
        }
.rightColWidth
        {
            width:calc(100% - 170px)
        }
.headBgColor
        {
            background-color: #ccc;
        }
.signWrap
        {
            float: left;
            width: 200px;
            height: 50px;
            border: 1px solid #000;
        }
.bottomList
        {
            float: right;
            /* width:100%; */
            margin-top: 35px;
        }
.bottomList li
        {
            float: left;
            margin-left: 5px;
            font-size: 10px;
        }
.addressBox li:nth-child(-n+56)
        {
            border-bottom:1px solid #000;
        }
        
